<template>
  <nav class="navbar">
    <router-link class="navbar-link" to="/">Tab 1</router-link>
    <router-link class="navbar-link" to="/tab-3">Tab 3</router-link>
  </nav>
</template>
<script>
export default {
  name: "HeaderLayout",
  computed: {
    menuActive() {
      return "to do";
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/scss/variables";
.navbar {
  background: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 1px 2px;
}
.navbar-link {
  padding: 13px 30px 12px;
  display: inline-block;
  text-align: right;
  color: $primaryLight;
  text-decoration: none;
  font-size: 16px;
  position: relative;

  &.router-link-exact-active {
    color: $primaryMain;
    &:after {
      border-bottom: 2px solid $primaryMain;
      color: $primaryMain;
      transform: scaleX(1);
    }
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    border-bottom: 2px solid $primaryMain;
    transform: scaleX(0);
    transition: all 80ms ease-in-out;
  }
  
  &:hover {
    color: $primaryMain;
    &:after {
      transform: scaleX(1);
      color: $primaryMain;
    }
  }
}

/**
    Mobile resolution
*/
@media screen and (max-width: 767.5px) {
  .navbar {
    padding: 0 20px;
    justify-content: center;
  }
  .navbar-link {
    padding: 13px 13px 12px;
  }
}
</style>