<template>
  <div id="tab-1" ref="tab1">
    <h1 class="title">
      HOTEL <strong>Mieres del Camín Apartamentos</strong>
      <stars-review class="stars" :value="4" />
    </h1>
    <section class="plans-container">
      <div
        v-for="item in plans"
        :key="'plan-' + item.id"
        :ref="'planCard' + item.id"
        class="plan-card"
        :class="{ 'plan-card-selected': selectedPlan === item.id }"
      >
        <h2
          class="plan-title"
          :ref="'planTitle' + item.id"
          :style="
            maxPlanTitleHeight !== '0px' ? { height: maxPlanTitleHeight } : {}
          "
        >
          {{ item.title }}
        </h2>
        <div class="divider"></div>
        <ul class="plan-features" :ref="'planFeatures' + item.id">
          <li
            v-for="(feature, index) in item.features"
            :key="'plan-features' + item.id + index"
          >
            {{ feature }}
          </li>
        </ul>
        <div class="plan-radio-container">
          <label class="plan-radio">
            <input
              type="radio"
              class="plan-radio-input"
              name="selected-plan"
              v-model="selectedPlan"
              :value="item.id"
            />
            Elegir régimen
          </label>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import StarsReview from "@/components/utils/StarsReview.vue";
import tabData from "@/data/tab-1.json";
export default {
  name: "Tab1",
  components: { StarsReview },
  data() {
    return {
      selectedPlan: 1,
      plans: tabData.plans,
      resizeObserver: null,
      clientWidth: 0,
      maxPlanTitleHeight: "0px",
    };
  },
  mounted() {
    this.sizeChanged = true;
    this.clientWidth = this.$refs.tab1.clientWidth;
    this.resizeObserver = this.observeWidth();
  },
  destroyed() {
    this.resizeObserver.disconnect();
  },
  computed: {},
  methods: {
    observeWidth() {
      const resizeObserver = new ResizeObserver((entries) => {
        if (entries[0].contentRect.width !== this.clientWidth) {
          this.clientWidth = entries[0].contentRect.width;
          this.maxPlanTitleHeight = "0px";
          setTimeout(() => {
            this.maxPlanTitleHeightFn();
          }, 1);
        }
      });
      resizeObserver.observe(this.$refs.tab1);
      return resizeObserver;
    },
    maxPlanTitleHeightFn() {
      this.maxPlanTitleHeight = "0px";
      if (this.clientWidth > 0) {
        let max = 0;
        this.plans.forEach((element) => {
          let tempHeight = 0;
          if (this.$refs["planTitle" + element.id] !== undefined) {
            tempHeight = this.$refs["planTitle" + element.id][0].clientHeight;
          }
          if (max < tempHeight) max = tempHeight;
        });
        this.maxPlanTitleHeight = max + "px";
      } else this.maxPlanTitleHeight = "0px";
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/scss/variables";
.title {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  color: $primaryMain;
  margin: 42px;
  strong {
    font-weight: 700;
  }
}
.stars {
  margin-left: 25px;
}

.plans-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;
}
.plan-card {
  border: solid 1px #c9e3f9;
  padding: 10px 10px 50px;
  box-sizing: border-box;
  width: 19.52%;
  margin-bottom: 20px;
  position: relative;
  min-width: 210px;
}
.plan-card-selected {
  border-color: $primaryMedium;
  .plan-radio {
    color: $primaryMedium;
    border: 1px solid $primaryMedium;
  }
}
.plan-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: $primaryMedium;
}
.divider {
  border-bottom: solid $titleDivider 3px;
  margin: 10px auto 0 auto;
  width: 72px;
}
.plan-features {
  padding-inline-start: 15px;
  list-style: none;
  li {
    font-size: 15px;
    line-height: 25px;
    color: $primaryDark;
    margin-bottom: 6px;
  }
  li::before {
    content: "\2022";
    color: $listDots;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
.plan-radio-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 10px 10px;
  width: calc(100% - 20px);
}
.plan-radio {
  padding: 14px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  color: $radioTextUnchecked;
  background: $radioBackground;
  border: 1px solid transparent;

  .plan-radio-input {
    margin-top: 0;
  }
}
@media screen and (max-width: 1265px) {
  .plan-card {
    width: 49.42%;
  }
  .plan-features {
    padding-inline-start: 25px;
  }
  .plan-radio {
    max-width: 190px;
  }
}
@media screen and (max-width: 765px) {
  .plan-card {
    width: 80%;
  }
  .plan-features {
    columns: 2;
    li {
      padding-right: 5px;
    }
  }
}
@media screen and (max-width: 667px) {
  .plan-features {
    columns: 1;
    li {
      padding-right: 0;
    }
  }
  .stars {
    margin-left: 0;
    display: block;
  }
}
</style>
