<template>
  <div class="tab-3">
    <h1 class="title roboto-slab">Bebidas</h1>
    <div v-if="error !== ''" class="error-message">{{ error }}</div>
    <p v-if="loading" class="loading">Loading...</p>
    <div v-else class="drinks-container">
      <h1 class="subtitle roboto-slab">Cervezas</h1>
      <drink
        v-for="element in drinks"
        :key="'drink' + element.id"
        :item="element"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Drink from "@/components/utils/Drink.vue";
export default {
  name: "Tab3",
  data() {
    return {
      loading: false,
      error: "",
      controller: new AbortController(),
    };
  },
  components: { Drink },
  computed: {
    ...mapState("drinks", ["drinks"]),
  },
  mounted() {
    this.initData();
  },
  destroyed() {
    this.controller.abort();
  },
  methods: {
    ...mapActions("drinks", ["getDrinkList"]),
    initData() {
      this.loading = true;
      this.error = "";
      let requestData = {
        params: {
          page: 1,
          per_page: 10,
        },
        controller: this.controller,
      };
      this.getDrinkList(requestData)
        .then(() => {
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          this.error = err;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/scss/variables";
.title {
  font-weight: 700;
  font-size: 24px;
  margin: 68px 20px 72px;
  color: $primaryLight;
}
.error-message {
  text-align: center;
  border: 1px solid $abvRed;
  padding: 20px;
  color: $abvRed;
}
.drinks-container {
  padding: 35px 20px;
  background-color: #fff;
  border: 1px solid $borderContainers;
}
.subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 29px;
  color: $primaryLight;
}
.loading {
  text-align: center;
}
</style>
