<template>
  <div class="app-layout">
    <header-layout></header-layout>
    <main>
      <router-view />
    </main>
  </div>
</template>
<script>
import HeaderLayout from "@/components/layout/HeaderLayout.vue";
export default {
  name: "App",
  components: { HeaderLayout },
};
</script>

<style lang="scss">
@import "@/scss/variables";
@import "@/scss/general";
.app-layout {
  background-color: $generalBackground;
  min-height: 100vh;
  padding: 0 40px;
}
</style>
