@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
/** Css Families 
font-family: "Roboto", sans-serif;
font-family: "Roboto Slab", serif;
*/
.roboto-slab {
    font-family: "Roboto Slab", serif;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
