$generalBackground: #fafafa;
$stars: #fac937;
$primaryDark: #001841;
$primaryLight: #4ba7ee;
$primaryMedium: #105aa3;
$primaryMain: #003970;
$checkboxActive: #6dc138;
$textMain: #4e5156;
$textDark: #000;
$abvRed: #db171d;
$abvOrange: #ffab48;
$abvYellow: #ffef63;
$titleDivider: #c9e3f9;
$listDots: #9da2a9;
$radioBackground: #dee1e860;
$borderContainers: #dee1e8;
$radioTextUnchecked: #616469;