<template>
  <div class="drink-container">
    <div class="drink-img-container">
      <img class="drink-img" :alt="'beer ' + item.name" :src="item.image_url" />
    </div>
    <div class="drink-content-container">
      <h3 class="title roboto-slab">{{ item.name }}</h3>
      <p class="drink-description">{{ item.description }}</p>
      <p class="drink-combination roboto-slab">
        Ideal para combinar con: {{ combination }}.
      </p>
    </div>
    <span class="drink-abv roboto-slab" :class="alcoholLevelClass">{{
      item.abv
    }}</span>
  </div>
</template>
<script>
export default {
  name: "Drink",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    combination() {
      let str = "";
      this.item.food_pairing.forEach((food) => {
        if (str === "") str += food;
        else str += ", " + food;
      });
      return str;
    },
    alcoholLevelClass() {
      if (this.item.abv <= 5.0) return "low-alcohol";
      if (this.item.abv > 10.0) return "high-alcohol";
      return "medium-alcohol";
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/scss/variables";

.title {
  font-size: 18px;
  color: $primaryMain;
  margin-right: 90px;
  margin-top: 0;
  font-weight: 700;
}
.drink-container {
  border: 1px solid $borderContainers;
  box-sizing: border-box;
  padding: 17px;
  position: relative;
  display: flex;
  margin-bottom: 32px;
  //  align-items: center;
}
.drink-img-container {
  max-height: 183px;
  flex: 1;
}
.drink-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.drink-content-container {
  flex: 4;
}
.drink-description {
  font-size: 14px;
  color: $textMain;
  margin-bottom: 20px;
}
.drink-combination {
  font-size: 14px;
  font-weight: 700;
  color: $primaryLight;
}
.low-alcohol {
  background-color: $abvYellow;
  color: #000;
}
.medium-alcohol {
  background-color: $abvOrange;
  color: #000;
}
.high-alcohol {
  background-color: $abvRed;
  color: #fff;
}
.drink-abv {
  display: block;
  position: absolute;
  top: 17px;
  right: 0;
  font-weight: 700;
  height: 32px;
  width: 86px;
  box-sizing: border-box;
  padding: 4px 7px;
}
@media (max-width: 680px) {
  .drink-container {
    flex-wrap: wrap;
  }
  .drink-img-container {
    width: 100%;
    flex: auto;
  }
  .title {
    margin-top: 10px;
    text-align: center;
    margin-right: 0;
  }
}
</style>