<template>
  <div class="stars-container">
    <img
      class="img-star"
      :src="require('@/assets/star.svg')"
      v-for="item in value"
      :key="'star-' + item"
    />
  </div>
</template>
<script>
export default {
  name: "StarsReview",
  props: {
    value: {
      type: Number,
      default: 5,
      validator: (val) => {
        return val >= 0 && val <= 5;
      },
    },
  },
  computed: {
    menuActive() {
      return "to do";
    },
  },
};
</script>
<style lang="scss" scoped>
.stars-container {
  display: inline-block;
}
.img-star {
  margin: 0 2.5px;
}
</style>